<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secuchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.secuchat.SecuChatApp"
        android:allowBackup="true"
        android:icon="@drawable/secuchat_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <activity
            android:name="com.secuchat.SetupActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.secuchat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="secuchat.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.secuchat" />

        <activity
            android:name="com.secuchat.MyChatRooms"
            android:label="@string/title_activity_my_chat_rooms" >
        </activity>
    </application>

</manifest>
